:root {
	--primary-color: map-get($themeColors, --primary-color);
	--secondary-color: map-get($themeColors, --secondary-color);
	--accent-color: map-get($themeColors, --accent-color);
	--highlight-color: map-get($themeColors, --highlight-color);
	--light-gray-color: map-get($themeColors, --light-gray-color);
	--gray-color: map-get($themeColors, --gray-color);
	--dark-gray-color: map-get($themeColors, --dark-gray-color);
	--link-color: map-get($themeColors, --link-color);
	--link-hover-color: map-get($themeColors, --link-hover-color);
	--button-color: map-get($themeColors, --button-color);
	--button-text-color: map-get($themeColors, --button-text-color);
	--button-hover-color: map-get($themeColors, --button-hover-color);
	--button-hover-text-color: map-get($themeColors, --button-hover-text-color);
	--header-background-color: map-get($themeColors, --header-background-color);
	--header-text-color: map-get($themeColors, --header-text-color);
	--header-text-hover-color: map-get($themeColors, --header-text-hover-color);
	--header-border-color: map-get($themeColors, --header-border-color);
	--title-color: map-get($themeColors, --title-color);
	--title-hover-color: map-get($themeColors, --title-hover-color);
	--footer-background-color: map-get($themeColors, --footer-background-color);
	--footer-text-color: map-get($themeColors, --footer-text-color);
	--footer-link-color: map-get($themeColors, --footer-link-color);
	--footer-link-hover-color: map-get($themeColors, --footer-link-hover-color);
	--text-font: map-get($themeFonts, --text-font);
	--title-font: map-get($themeFonts, --title-font);
	--title-font-weight: map-get($fontWeight, --title-font-weight);
	--title-text-transform: map-get($textTransform, --title-text-transform);
	--navi-font: map-get($themeFonts, --navi-font);
	--navi-font-weight: map-get($fontWeight, --navi-font-weight);
	--navi-text-transform: map-get($textTransform, --navi-text-transform);
}
