// Theme Width.
$themeWidth: 1200px;

// Content Width.
$contentWidth: 720px;
$wideBlockWidth: 960px;

// Fullwidth Template.
$contentFullwidth: 1200px;
$wideBlockFullwidth: 1440px;

// Text Color
$textColor: #242424;

// Theme Colors
$themeColors: (
	--primary-color           : #003344,
	--secondary-color         : #268f97,
	--accent-color            : #c9493b,
	--highlight-color         : #f9d26e,
	--light-gray-color        : #e4e4e4,
	--gray-color              : #848484,
	--dark-gray-color         : #242424,
	--link-color              : #268f97,
	--link-hover-color        : #242424,
	--button-color            : #268f97,
	--button-text-color       : #fff,
	--button-hover-color      : #242424,
	--button-hover-text-color : #fff,
	--header-background-color : #003344,
	--header-text-color       : #f0f0f0,
	--header-text-hover-color : #c0c0c0,
	--header-border-color     : rgba(255, 255, 255, 0.1),
	--title-color             : #242424,
	--title-hover-color       : #268f97,
	--footer-background-color : #003344,
	--footer-text-color       : #fff,
	--footer-link-color       : rgba(255, 255, 255, 0.6),
	--footer-link-hover-color : #fff,
);

// Theme Fonts
$baseFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$titleFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$themeFonts: (
	--text-font  : $baseFont,
	--title-font : $titleFont,
	--navi-font  : $titleFont,
);

// Font Weight.
$fontWeight: (
	--title-font-weight : bold,
	--navi-font-weight  : bold,
);

// Text Transform.
$textTransform: (
	--title-text-transform : none,
	--navi-text-transform  : none,
);
