@media only screen and (min-width: 640px) {
	.entry-content > .wp-block-group.has-background {
		padding: 1.75rem;
	}

	.entry-content > .wp-block-group.alignwide,
	.entry-content > .wp-block-group.alignfull {
		padding-left: 1.75rem;
		padding-right: 1.75rem;
	}
}

@media only screen and (min-width: 960px) {
	.entry-content > .wp-block-group.has-background {
		padding: 2rem;
	}

	.entry-content > .wp-block-group.alignwide,
	.entry-content > .wp-block-group.alignfull {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media only screen and (min-width: 1280px) {
	.entry-content > .wp-block-group.has-background {
		padding: 2.25rem;
	}

	.entry-content > .wp-block-group.alignwide,
	.entry-content > .wp-block-group.alignfull {
		padding-left: 2.25rem;
		padding-right: 2.25rem;
	}
}
