button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	margin: 0;
	padding: 0.5em 1em;
	border: none;
	@include color(--button-text-color);
	@include background(--button-color);
	text-decoration: none;
	font-weight: normal;
	@include font-size(15);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	@include color(--button-hover-text-color);
	@include background(--button-hover-color);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 0.3em 0.6em;
	max-width: 100%;
	border: 2px solid rgba(0,0,0,0.1);
	background: none;
	color: #777;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	border: 2px solid rgba(0,0,0,0.3);
	color: $textColor;
	outline: none;
}

textarea {
	width: 100%;
}

/* Search Form */
/* Theme Search Widget */
.search-form {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
}

.search-form .screen-reader-text {
	display: none;
}

.search-form .search-field {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: 0.5em 1.5em 0.5em 0.7em;
	min-width: 150px;
	width: 100%;
	-webkit-appearance: none;
}

.search-form .search-submit {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0.6em 0.8em;
	border: none;
	@include background(--button-color);
}

.search-form .search-submit:hover,
.search-form .search-submit:active {
	@include background(--button-hover-color);
}

.search-form .search-submit .icon-search {
	margin: 5px 0 0;
	width: 22px;
	height: 22px;
	@include fill(--button-text-color);
}

.search-form .search-submit:hover .icon-search,
.search-form .search-submit:active .icon-search {
	@include fill(--button-hover-text-color);
}
