.entry-meta {
	margin: 0.5rem 0 0;
	color: rgba(0,0,0,0.5);
	@include font-size(16);
}

.entry-meta a {
	font-weight: bold;
}

.entry-meta a:link,
.entry-meta a:visited,
.entry-meta a:hover,
.entry-meta a:active {
	text-decoration: none;
}

.entry-meta .updated:not(.published) {
	display: none;
}
