/* Read More Button */
.more-link {
	font-weight: bold;
}

.more-link:link,
.more-link:visited,
.more-link:hover,
.more-link:active {
	text-decoration: none;
}

.more-link:after {
    content: " \2192";
}
