/* Read More Button */
.more-link {
	display: inline-block;
	padding: 0.6em 1.2em;
	@include color(--button-text-color);
	@include background(--button-color);
	@include font-size(14);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
}

.more-link:link,
.more-link:visited  {
	@include color(--button-text-color);
	text-decoration: none;
}

.more-link:hover,
.more-link:active {
	@include color(--button-hover-text-color);
	@include background(--button-hover-color);
	text-decoration: none;
}
