/* Buttons Block Style */
.wp-block-buttons.is-style-gt-small {
	.wp-block-button__link {
		padding: 0.4em 0.8em;
		@include font-size(15);
	}

	.wp-block-button.is-style-outline .wp-block-button__link {
		padding: calc(0.4em - 2px) calc(0.8em - 2px);
	}
}

.wp-block-buttons.is-style-gt-large {
	.wp-block-button__link {
		padding: 0.9em 1.8em;
		@include font-size(17);
	}

	.wp-block-button.is-style-outline .wp-block-button__link {
		padding: calc(0.9em - 2px) calc(1.8em - 2px);
	}
}
