/* Layout Blocks Spacing */
.wp-block-columns,
.wp-block-group,
.wp-block-button,
.wp-block-buttons {
	margin-bottom: 1.5em;
}

/* Group Block */
.wp-block-group.has-background {
	padding: 1.5rem;
}

.wp-block-group.alignwide,
.wp-block-group.alignfull {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.wp-block-group.has-background a:link,
.wp-block-group.has-background a:visited {
	color: inherit;
}

.wp-block-group.has-background a:hover,
.wp-block-group.has-background a:active {
	text-decoration: none;
}

.wp-block-group.has-background > .wp-block-group__inner-container > *:first-child {
	margin-top: 0;
}

.wp-block-group.has-background > .wp-block-group__inner-container > *:last-child {
	margin-bottom: 0;
}

/* Button Block */
.wp-block-button {
	color: inherit;
}

.wp-block-button.aligncenter {
	text-align: center;
}

.wp-block-button__link {
	margin: 0;
	padding: 0.6em 1.2em;
	border: none;
	border-radius: 0;
	color: inherit;
	text-decoration: none;
	@include font-size(16);
}

.wp-block-button__link:link,
.wp-block-button__link:visited {
	text-decoration: none;
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-text-color),
.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-text-color):link,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-text-color):visited {
	color: #fff;
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background) {
	@include background(--button-hover-color);
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-text-color):not(.has-background):hover,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-text-color):not(.has-background):active {
	@include background(--button-color);
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link.has-text-color:hover,
.wp-block-button:not(.is-style-outline) .wp-block-button__link.has-text-color:active,
.wp-block-button:not(.is-style-outline) .wp-block-button__link.has-background:hover,
.wp-block-button:not(.is-style-outline) .wp-block-button__link.has-background:active {
	text-decoration: underline;
}

/* Outline Style */
.wp-block-button.is-style-outline .wp-block-button__link {
	padding: calc(0.6em - 2px) calc(1.2em - 2px);
	background-color: transparent !important;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color),
.wp-block-button__link.is-style-outline:not(.has-text-color) {
	color: inherit;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover,
.wp-block-button.is-style-outline .wp-block-button__link:active {
	color: inherit;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):active {
	text-decoration: underline;
}

/* Social Icons Block */
.wp-block-social-links {
	flex-wrap: wrap;
}

.wp-social-link {
	margin-bottom: 8px;
}

.wp-block-social-links:not(.is-style-logos-only) .wp-social-link a,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link a:active,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link a:hover,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link a:visited,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link svg {
	color: #fff;
	fill: #fff;
}

.wp-block-social-links.is-style-logos-only .wp-social-link a {
	color: currentColor;
	fill: currentColor;
}

/* GT Section Block */
.gt-background-section .gt-section-content {
	&.gt-default-width {
		max-width: $contentWidth;
	}

	&.gt-wide-width {
		max-width: $wideBlockWidth;
	}

	&.gt-full-width {
		max-width: $contentFullwidth;
	}
}
