/* Media Blocks Spacing */
.wp-block-audio,
.wp-block-embed,
.wp-block-image,
.wp-block-gallery,
.wp-block-cover,
.wp-block-media-text {
	margin-bottom: 1.5em;
}

/* Image Block */
.wp-block-image {
	img {
		vertical-align: top;
	}
}

/* Cover Block */
.wp-block-cover,
.wp-block-cover-image {
	width: auto;
	padding: 1.75rem;

	> .wp-block-cover__inner-container > *:first-child {
		margin-top: 0;
	}

	> .wp-block-cover__inner-container > *:last-child {
		margin-bottom: 0;
	}
}

/* Video Embed Block */
.wp-block-embed-vimeo.alignfull iframe {
	width: 100%;
}
